{% extends 'base.html' %}
{% block title %} Category {% endblock %}

{% block content  %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Category details</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Border Left Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    ID : {{category.id}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    Description : {{category.desc}}
                </div>
            </div>
        </div>

        <!-- Border Bottom Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                    Titre : {{category.nom}}
                </div>
            </div>
            


        </div>

    </div>

</div>
       
        
        
        

{% endblock  %}