{% extends 'base.html' %}
{% block title %} Tache {% endblock %}
{% block content %}

<a href="{% url 'tacheCreate' %}" class="btn btn-link">Nouveau tache</a>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Table</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des taches</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Date de debut</th>
                        <th>Date de fin</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Projet</th>
                        <th>Details</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                      </tr>
                      <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Date de debut</th>
                        <th>Date de fin</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Projet</th>
                        <th>Details</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </tfoot>
                      {% for tache in taches %}
                      <tr>
                        <th>{{tache.id}}</th>
                        <td>{{tache.nom}}</td>
                        <td>{{tache.debut}}</td>
                        <td>{{tache.fin}}</td>
                        <td>{{tache.desc}}</td>
                        <td>{{tache.status}}</td>
                        <td>{{tache.projet.titre}}</td>
                        
                        <td>
                            <span title="Plus de details">
                                <a href="{% url 'tacheDetails' tache.id %}" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a></span></td>
                              <td>
                                <span title="Modifier les données">
                                    <a href="{% url 'tacheUpdate' tache.id %}" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-exclamation-triangle"></i>
                            </a></span></td>
                              <td>
                                <span title="Supprimer l'objet"><a href="{% url 'tacheDelete' tache.id %}" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a></span></td>
                      </tr>
                       {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}


