{% extends 'base.html' %}
{% block title %} Employe {% endblock %}

{% block content  %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">{{employe.titre}} {{employe.nom}} {{employe.prenom}}</h1>

    <!-- Content Row -->
    <div class="row">
        <!-- Border Left Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    ID : {{employe.user.username}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    ID : {{employe.id}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    CIN : {{employe.cin}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    DATE DE NAISSANCE : {{employe.date_naissance}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    EMAIL : {{employe.email}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    SEXE : {{employe.sexe}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    ADRESSE : {{employe.adresse}}
                </div>
            </div>

        </div>

        <!-- Border Bottom Utilities -->
        <div class="col-lg-6">

            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                CE : {{employe.ce}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                ROLE : {{employe.role}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                VILLE : {{employe.ville}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                TELEPHONE : {{employe.telephone}}
                </div>
            </div>
            <div class="card mb-4 py-3 border-bottom-primary">
                <div class="card-body">
                    <img src="{{employe.image.url}}">
                </div>
            </div>
            
        </div>

    </div>

</div>
       
        
        
        

{% endblock  %}